{% extends 'base.html' %}

{% block title %} Hey {% endblock %}

{% block body %}

<h1>All records</h1>

{{ rows }} <br>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Item ID</th>
        <th>Sales</th>
        <th>Rating</th>
        <th>Price (cents)</th>
        <th>Trending</th>
        <th>Scrape Time</th>
        <th>Updated At</th>
        <th>Site</th>
    </tr>
{% for record in records %}
    <tr>
        <td>{{record.id}}</td>
        <td>{{record.product_id}}</td>
        <td>{{record.sales}}</td>
        <td>{{record.rating}}</td>
        <td>{{record.price_cents}}</td>
        <td>{{record.trending}}</td>
        <td>{{record.scrape_time}}</td>
        <td>{{record.updated_at}}</td>
        <td>{{record.site}}</td>
    </tr>
{% endfor %}
</table>

{% if records.has_other_pages %}
<ul class="pagination">
    {%  if records.has_previous %}
    <li class="page-item"><a href="?page={{ records.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in records.paginator.page_range %}
        {% if records.number == i %}
        <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {%  if records.has_next %}
    <li class="page-item"><a href="?page={{ records.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="page-item disabled"><span>&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
  

{% endblock %}